.container {
    font-family: var(--fonte-principal);
    padding-bottom: 1rem;
}

.container__titulo {
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--branco);
    padding: 1rem 0 1rem 1rem;
}

.container__consulta-remota, .container__consulta-local {
    margin: 1em;
    border-radius: 8px;
    background: var(--branco);
    font-family: var(--fonte-principal);
}



.consulta__cliente {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
}

.consulta__foto-perfil {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.consulta__texto {
    margin-right: auto;
    margin-left: 1em;
}

.consulta__texto-secundario {
    display: flex;
    gap: .5em;
}

.consulta__cliente-nome {
    font-size: .9rem;
    font-weight: 700;
    margin-bottom: .5em;
}

.consulta__cliente-chat {
    align-self: center;
    margin-right: .5em;
}

hr {
  color: #464646; 
  margin: .7em 0;
}

.consulta__chamadas-botoes {
    display: flex;
    justify-content: space-around;
}

.consulta__chamadas-texto {
    font-size: .75rem;
    font-weight: 500;
    margin-left: 1.5em;
}

.consulta__chamadas-links {
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem 0;
    text-align: center;
    font-size: .9rem;
    font-weight: 500;
    text-decoration: none;
}

.video {
    background: var(--laranja);
    color: var(--branco);
}

.audio {
    border: 1px solid var(--branco-borda);
    color: var(--preto);
}

.consulta__endereco-botao {
    display: flex;
    justify-content: center;
}

.consulta__endereco-links {
    border-radius: 8px;
    padding: 1em;
    margin: 1em;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.endereco {
    color: var(--branco);
    background: var(--azul);
}

@media screen and (min-width: 1024px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 2rem 0rem;
        margin: 0 4rem;
    }

    .container__consulta-remota, .container__consulta-local {
        margin: 0;
        flex-basis: 45%;
        flex-grow: 0;
    }

    .container__titulo {
        padding: 1rem 0 1rem 4rem;
        margin: 1rem 0;
    }
}

@media screen and (min-width: 1728px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 2rem 0rem;
        margin: 0 4rem;
    }

    .container__consulta-remota, .container__consulta-local {
        margin: 0;
        flex-basis: 30%;
        flex-grow: 0;
    }

    .consulta__chamadas-botoes {
        padding:0 5em;
    }
}