.cabecalho {
    display: flex;
    align-items: center;
    margin: 2rem 0 2rem 1rem;
    font-family: var(--fonte-principal);
}

.cabecalho__perfil {
 border-radius: 50%;
 width: 57px;
 height: 57px;
 margin-right: 1rem;
}

.cabecalho__textos__titulo {
    font-size: 1.37rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

.texto__secundario {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--cinza-claro);
}

@media screen and (min-width: 1728px) {
    .cabecalho__perfil {
        width: 97px;
        height: 97px;
    }

    .cabecalho__textos__titulo {
        font-size: 32px;
    }

    .cabecalho__texto-secundario {
        font-size: 18px;
    }
}