@import url("styles.css/cabecalho.css");
@import url("styles.css/agenda.css");
@import url("styles.css/rodape.css");
@import url("styles.css/formulario.css");

:root {
    --fonte-principal: "Montserrat";
    --cor-de-fundo: #F8F4FF;
    --branco: #FFFFFF;
    --branco-borda: #ECECEC;
    --preto: #000000;
    --azul: #4894FF;
    --cinza-claro: #A3A3A3;
    --laranja: #ffb050;
    --cinza: #464646;
    --vermelho: #DE0000;

}

body {
    background: var(--cor-de-fundo);
    margin-bottom: 3rem;
    font-family: var(--fonte-principal);
}